@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Plus+Jakarta+Sans:wght@300&display=swap');
@import 'reset.css';
@import 'status-bar.css';
@import 'variable.css';
/*Screens*/
@import 'screens/login.css';
@import 'screens/friend.css';
/*Components*/
@import 'components/status-bar.css';
@import 'components/nav-var.css';
@import 'components/screen-header.css';
@import 'components/user-component.css';

body {
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
}
